/**** GLOBAL CONSTANTS ****/
:root {
    --primary-color: #1BA0C8;
    --primary-color-darker: #157c99;
}

/**** FONTS ****/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/**** GLOBAL CSS ****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #0F1012;
    color: #CDCCD1;
    font-family: 'Open Sans', sans-serif;
}
body.light {
    color: #444444;
    background-color: #FEF5F5;
}
::selection:not(input) {
    background-color: transparent;
    color: inherit;
}
#app {
    height: 100vh;
    overflow-y: hidden;
}
.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}
.content {
    display: inline-flex;
    flex: 1;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: center;
}
h2 {
    font-weight: bold;
    font-size: 12px;
}

/**** ICONS ****/
.icon__button {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    right: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    line-height: 32px;
    text-align: center;
    font-weight: light;
    font-size: 16px;
    transition: background-color 0.1s;
}
.icon__button:hover {
    background-color: var(--primary-color);
}