/**** MENUBAR ****/
.menubar {
    height: 32px;
    width: 100%;
    -webkit-app-region: drag;
}

/**** SIDEBAR ****/
.sidebar {
    flex-basis: 208px;
    display: inline-flex;
    flex-flow: column nowrap;
    padding-left: 24px;
}
.sidebar h2 {
    position: relative;
}

/**** NOTESBAR ****/
.notesbar {
    flex-basis:360px;
    display: inline-flex;
    flex-flow: column nowrap;
}

/**** NOTES ****/
.notes {
    flex: 1;
}